input {
	display: none;
  }
  
  .button {
	display: inline-block;
	position: relative;
	width: 25px;
	height: 25px;
	margin: 10px;
	cursor: pointer;
  }
  
  .button span {
	display: block;
	position: absolute;
	width: 25px;
	height: 25px;
	padding: 0;
	top: 50%;
	left: 50%;
	border-radius: 100%;
	background: #eeeeee;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	transition: ease .3s;
  }
  
  .button span:hover {
	padding: 10px;
	transform: scale(1.5);
  }
  
  .orange .button span {
	background: #FF5722;
  }
  
  .amber .button span {
	background: #FFC107;
  }
  
  .lime .button span {
	background: #8BC34A;
  }
  
  .teal .button span {
	background: #009688;
  }
  
  .blue .button span {
	background: #2196F3;
  }
  
  .indigo .button span {
	background: #3F51B5;
  }
  
  .layer {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: transparent;
	/*transition: ease .3s;*/
	z-index: -1;
  }
  
  .dark-mode {
	background: #303742 !important;
	color: #F7F8F9;
  }

  .dark-card {
	background: #393e46 !important;
	color: #F7F8F9;
  }
  .b-avatar {
    position: relative;
    top: 8px;
	font-size: 1.2rem;
}

.fa {
	color: #5755D9;
}

.video-responsive {
	border: 3px solid #5755D9;
}

.input-group-addon {
	color: #5755D9 !important;
}

@media (max-width: 480px){
	.col-6 {
		width: 100%;
	}
}


@media (min-width: 1200px){
	.my-col {
		width: 60%;
	}
}

